:host {
  display: flex;
  box-sizing: border-box;
  background-color: var(--surface-color);
  gap: 0.7rem;
  border-radius: 1rem;
  padding: 0.7rem;
  position: relative;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.member-data {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.member-img {
  max-height: 120px;
  width: 10rem;
  border-radius: 1rem;
  object-fit: cover;
  @media only screen and (max-width: 768px) {
    width: 100%;
    max-height: 200px;
  }
}

.name {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0;
}

.quote {
  margin: 0.4rem 0 0;
  line-height: 1.4;
}

.social {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.7rem;
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.5rem;
    height: 30px;
    width: 30px;
    background-color: var(--wash);
    border-radius: 50%;
    img {
      width: 100%;
      height: 100%;
      filter: invert(1);
    }
    &:hover {
      background-color: var(--primary-color);
    }
  }
  @media only screen and (max-width: 768px) {
    margin-top: 0.5rem;
  }
}

.mentor,
.team-lead,
.member,
.volunteer, {
  font-size: 0.9rem;
  font-weight: bold;
  position: absolute;
  color: var(--surface-color);
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  @media only screen and (max-width: 768px) {
    font-size: 1rem;
    top: 1rem;
    right: 1rem;
    height: fit-content;
  }
}

team-lead .mentor .member .volunteer {
  background-color: var(--primary-color);
}
.team-lead {
  background-color: red;
}
.member {
  background-color: yellow;
}
.mentor {
  background-color: rgb(20, 20, 156);
}
.volunteer {
  background-color: green;
}
