<p>
  CyLiis 19043 is a FIRST Tech Challenge that was founded in 2017, beginning as
  a team consisting of 15 passionate students, during its 7 years of activity
  the team gathered contributions from over 100 students from Iași, Romania.
</p>
<p>
  In the 2024-2025 FTC season, the team consists of 30 bright minds pursuing
  careers in STEM.
</p>
<p>
  Through consistent social media activity, frequent organisation of events to
  connect with the local community and to spread the FIRST values and with the
  support provided by Liceul Teoretic de Informatică „Grigore Moisil” Iași we
  managed to attract more and more students towards the CyLiis Robotics
  Workshop,
</p>
