<section class="brand">
    <h1 class="brand__title">CyLiis</h1>
    <p class="brand__text">Thinking beyond the CODE. Engineering beyond the ROBOT.</p>
</section>
<section class="social">
    <a href="https://www.facebook.com/CyLiis/" target="_blank" class="social__link hoverable">
        <img src="/assets/social/facebook.webp">
    </a>
    <a href="https://www.instagram.com/cyliis/" target="_blank" class="social__link hoverable">
        <img src="/assets/social/instagram.webp">
    </a>
    <a href="https://www.youtube.com/channel/UC8OpredZv86FZfZGpZtLAkA" target="_blank" class="social__link hoverable">
        <img src="/assets/social/youtube.webp">
    </a>
</section>
