:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  // background-color: var(--surface-color);
  // padding: 2rem;
  border-radius: 1rem;
  // background-color: red;

}


.contact__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.1rem;
  color: var(--text-color);

}
.contact__title {
  color: var(--primary-color);
  font-size: 3.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.contact__info h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.contact__icon-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;
  margin-top: 1rem;
  
}

.contact__icon-item {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.contact__icon {
  width: 20px;
  height: 20px;
  filter: invert(1); /* White icons on dark background */
}

.social__links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
  padding-top: 1rem;
  border-top: 1px solid var(--text-color);
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--wash);
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.social__link:hover {
  background-color: var(--primary-color);
}

.social__link img {
  width: 18px;
  height: 18px;
  filter: invert(1);
}
