<div class="contact">
  <div class="contact__info">
 <h2 class="contact__title">CONTACT</h2>
    <div class="contact__icon-list">
      <div class="contact__icon-item">
        <img src="/assets/social/phone.webp" class="contact__icon" alt="Phone">
        <span>+40 770 629 722</span>
      </div>
      <div class="contact__icon-item">
        <img src="/assets/social/mail.webp" class="contact__icon" alt="Email">
        <span>cyliis082@gmail.com</span>
      </div>
    </div>
  </div>

  <div class="social__links">
      <a
        href="https://www.facebook.com/CyLiis/"
        target="_blank"
        class="social__link hoverable"
      >
        <img src="/assets/social/facebook.webp" alt="Facebook" />
      </a>
      <a
        href="https://www.instagram.com/cyliis/"
        target="_blank"
        class="social__link hoverable"
      >
        <img src="/assets/social/instagram.webp" alt="Instagram" />
      </a>
      <a
        href="https://www.youtube.com/channel/UC8OpredZv86FZfZGpZtLAkA"
        target="_blank"
        class="social__link hoverable"
      >
        <img src="/assets/social/youtube.webp" alt="YouTube" />
      </a>
      <a
        href="https://www.linkedin.com/company/cyliis-19043"
        target="_blank"
        class="social__link hoverable"
      >
        <img src="/assets/social/linkedin.webp" alt="LinkedIn" />
      </a>
  </div>
</div>
