<ng-container *ngIf="article$ | async as article">
  <a routerLink="/news">< back</a>
  <h1>{{ article.id == 'new' ? 'Add Article' : 'Edit news'}}</h1>
  <div>
    <input [(ngModel)]="article.title" name="title" placeholder="Title" class="title-input">
    <input [(ngModel)]="article.imageUrl" placeholder="Image Url">
    <section>
      <app-menu></app-menu>
      <app-text-editor [(text)]="article.text"></app-text-editor>
    </section>
    <section class="buttons">
      <button type="submit" (click)="onDelete(article)" class="save-btn" *ngIf="article.id != 'new'">Delete</button>
      <button type="submit" (click)="onSubmitForm(article)"  class="save-btn">Save</button>
    </section>
  </div>
</ng-container>
