:host {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    box-sizing: border-box;
    margin-top: var(--header-height);
    width: 100%;
    gap: 2rem;
    @media only screen and (max-width : 768px) {
        gap: 1rem;
    }
}

header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
    padding-right: 1rem;
    @media only screen and (max-width : 768px) {
        padding-right: 0rem;
    }
}
