<button type="button" (click)="format('bold')" class="btn">
  <img src="/assets/text-editor/b.svg">
</button>
<button type="button" (click)="format('italic')" class="btn">
  <img src="/assets/text-editor/i.svg">
</button>
<button type="button" (click)="format('strikethrough')" class="btn">
  <img src="/assets/text-editor/s.svg">
</button>
<button type="button" (click)="format('underline')" class="btn">
  <img src="/assets/text-editor/u.svg">
</button>
<button type="button" (click)="format('insertUnorderedList')" class="btn">
  <img src="/assets/text-editor/ol.svg">
</button>
<button type="button" (click)="format('insertOrderedList')" class="btn">
  <img src="/assets/text-editor/ul.svg">
</button>
<button type="button" (click)="format('justifyLeft')" class="btn">
  <img src="/assets/text-editor/left.svg">
</button>
<button type="button" (click)="format('justifyCenter')" class="btn">
  <img src="/assets/text-editor/center.svg">
</button>
<button type="button" (click)="format('justifyRight')" class="btn">
  <img src="/assets/text-editor/right.svg">
</button>
<button type="button" (click)="format('undo')" class="btn">
  <img src="/assets/text-editor/undo.svg">
</button>
<button type="button" (click)="format('redo')" class="btn">
  <img src="/assets/text-editor/redo.svg">
</button>
<button type="button" (click)="format('removeFormat')" class="btn">
  <img src="/assets/text-editor/clear.svg">
</button>
<button type="button" (click)="onAddImage()" class="btn">
  <img src="/assets/text-editor/img.svg">
</button>
<!-- <button mat-icon-button (click)="format('bold')"><mat-icon>format_bold</mat-icon></button>
<button mat-icon-button (click)="format('italic')"><mat-icon>format_italic</mat-icon></button>
<button mat-icon-button (click)="format('strikethrough')"><mat-icon>format_strikethrough</mat-icon></button>
<button mat-icon-button (click)="format('underline')"><mat-icon>format_underlined</mat-icon></button>
<button mat-icon-button (click)="format('insertUnorderedList')"><mat-icon>format_list_bulleted</mat-icon></button>
<button mat-icon-button (click)="format('insertOrderedList')"><mat-icon>format_list_numbered</mat-icon></button>
<button mat-icon-button (click)="format('justifyLeft')"><mat-icon>format_align_left</mat-icon></button>
<button mat-icon-button (click)="format('justifyCenter')"><mat-icon>format_align_center</mat-icon></button>
<button mat-icon-button (click)="format('justifyRight')"><mat-icon>format_align_justify</mat-icon></button>
<button mat-icon-button (click)="format('justifyFull')"><mat-icon>subject</mat-icon></button>
<button mat-icon-button (click)="onSetFirstParagraph()"><mat-icon>numbers</mat-icon></button>
<button mat-icon-button (click)="onAddImage()"><mat-icon>add_photo_alternate_outline</mat-icon></button>
<button mat-icon-button (click)="onAddYoutubeVideo()"><mat-icon>video_call</mat-icon></button>
<button mat-icon-button (click)="format('undo')"><mat-icon>undo</mat-icon></button>
<button mat-icon-button (click)="format('redo')"><mat-icon>redo</mat-icon></button>
<button mat-icon-button (click)="onSetView()"><mat-icon>{{ codeView ? 'code_off' : 'code' }}</mat-icon></button>
<button mat-icon-button (click)="format('removeFormat')"><mat-icon>format_clear</mat-icon></button> -->

<!-- <mat-menu #textSizeMenu="matMenu">
    <button mat-menu-item *ngFor="let formatType of formats" (click)="format('formatBlock', formatType[1])">{{ formatType[0] }}</button>
</mat-menu>
<mat-menu #textFontMenu="matMenu">
    <button mat-menu-item *ngFor="let font of fonts" (click)="format('fontname', font)">{{ font }}</button>
</mat-menu>
<mat-menu #textFillColorMenu="matMenu">
    <button mat-menu-item *ngFor="let backColor of backColors" (click)="format('backColor', backColor[1])">{{ backColor[0] }}</button>
</mat-menu>
<mat-menu #textColorMenu="matMenu">
    <button mat-menu-item *ngFor="let color of colors" (click)="format('foreColor', color[1])">{{ color[0] }}</button>
</mat-menu>
<mat-menu #textSizeMenu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
</mat-menu> -->
