:host {
    display: flex;
    width: 100%;
    background-color: var(--surface-color);
    border-bottom: 1px solid #3E4042;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 1rem;
    height: var(--header-height);
    align-items: center;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.actions {
    display: flex;
    gap: .5rem;
    .item {
        box-sizing: border-box;
        background-color: var(--wash);
        padding: .5rem;
        border-radius: 4px;
        color: var(--text-color);
        text-decoration: none;
        cursor: pointer;
        transition: .2s;
        &:hover {
          background-color: var(--primary-color);
        }
    }
}

.logo {
    height: 50px;
    cursor: pointer;
}

.toggle-btn {
    cursor: pointer;
    transition: .2s;
    &:hover {
      opacity: .8;
      color: var(--primary-color);
    }
}
