:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 1rem;
  padding: 1rem 15%;
  @media only screen and (max-width : 768px) {
    padding: 1rem 0 2rem;
  }
}

a {
  color: var(--text-color);
  cursor: pointer;
  margin-top: 1rem;
  text-decoration: none;
  @media only screen and (max-width : 768px) {
    margin-top: .5rem;
  }
}

h1 {
  margin-top: 0rem;
  font-size: 4rem;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 0;
  @media only screen and (max-width : 768px) {
    font-size: 2rem;
  }
}

img {
  border-radius: 1rem;
}

.text {
  padding: 0 2rem;
  line-height: 1.6;
  @media only screen and (max-width : 768px) {
    padding: 0;
  }
}
