.members-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 2rem 0;
    @media only screen and (max-width : 768px) {
        margin: 1rem 0;
        grid-area: .5rem;
        grid-template-columns: 1fr;
    }
}